<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import os
import pandas as pd

In [3]:
way_apl_0 = 'applications.csv'
way_apl_1 = r"C:\Users\kil_a\OneDrive\Рабочий стол\ГУАП\Проект 2.0\applications.csv"
way_adm_0 = 'admission.csv'
way_adm_1 = r"C:\Users\kil_a\OneDrive\Рабочий стол\ГУАП\Проект 2.0\admission.csv"
if os.path.exists(way_apl_0) and os.path.exists(way_adm_0):
    apl = pd.read_csv(way_apl_0, sep = ';')
    adm = pd.read_csv(way_adm_0, sep = ';')
elif os.path.exists(way_apl_1) and os.path.exists(way_adm_1):
    apl = pd.read_csv(way_apl_1, sep = ';')
    adm = pd.read_csv(way_adm_1, sep = ';')
else:
    print('Error (-_-)')

C:\Users\kil_a\AppData\Local\Temp\ipykernel_11492\1237361660.py:6: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  apl = pd.read_csv(way_apl_0, sep = ';')

In [4]:
apl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57921 entries, 0 to 57920
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   eid                          57921 non-null  int64
 1   aid                          57921 non-null  int64
 2   organization                 57921 non-null  object
 3   code                         57921 non-null  object
 4   name                         57921 non-null  object
 5   original_weight              10961 non-null  float64
 6   finsourse                    57921 non-null  object
 7   eduform                      57921 non-null  object
 8   edulevel                     57921 non-null  object
 9   is_only_for_foreign          57921 non-null  object
 10  priority                     57913 non-null  float64
 11  application_source           57921 non-null  object
 12  profile_status               56135 non-null  object
 13  application_status           57921 non-null  object
 14  application_status_simple    57921 non-null  object
 15  competitive_scores           48201 non-null  float64
 16  entrance_test_scores         48201 non-null  float64
 17  achievement_scores           45675 non-null  float64
 18  ege_average_score            43963 non-null  float64
 19  registration_datetime        57921 non-null  object
 20  citizenship                  57921 non-null  object
 21  merged_education_level_id    57921 non-null  int64
 22  dog_date                     1763 non-null   object
 23  payment_sum                  1338 non-null   float64
 24  price_semester               1764 non-null   float64
 25  original                     9545 non-null   float64
 26  original_online              4557 non-null   float64
 27  original_another             31125 non-null  object
 28  subject_count                50370 non-null  float64
 29  olymp_name                   3 non-null      object
 30  svo_no_exams_application_id  61 non-null     float64
 31  belgorod_school_city         392 non-null    object
 32  svo_type                     672 non-null    object
dtypes: float64(12), int64(3), object(18)
memory usage: 14.6+ MB

In [39]:
apl.svo_type.unique()

array([nan,
       'Документ, подтверждающий принадлежность к детям остальных военнослужащих и сотрудников силовых ведомств, участвовавших в СВО или направленных в другие государства',
       'Документ, подтверждающий принадлежность к Героям РФ, лицам, награждённым тремя орденами мужества',
       'Документ, подтверждающий принадлежность к детям военнослужащих и сотрудников силовых ведомств, погибших в ходе СВО или боевых действий на территории других государств, получивших увечье или заболевание'],
      dtype=object)

In [24]:
apl.application_status_simple.unique()

array(['Принято', 'Проект'], dtype=object)

In [5]:
adm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   organization               460 non-null    object
 1   code                       460 non-null    object
 2   name                       460 non-null    object
 3   finsourse                  460 non-null    object
 4   eduform                    460 non-null    object
 5   edulevel                   460 non-null    object
 6   is_only_for_foreign        460 non-null    object
 7   merged_education_level_id  460 non-null    int64
 8   is_budget                  460 non-null    object
 9   volume                     459 non-null    float64
 10  enrolled                   68 non-null     float64
 11  vacant                     301 non-null    float64
dtypes: float64(3), int64(1), object(8)
memory usage: 43.2+ KB

In [6]:
apl.head(10)

,eid,aid,organization,code,name,original_weight,finsourse,eduform,edulevel,is_only_for_foreign,...,payment_sum,price_semester,original,original_online,original_another,subject_count,olymp_name,svo_no_exams_application_id,belgorod_school_city,svo_type
0,9392,37028,ГУАП,27.03.02,Управление качеством,15.0,особая квота,очная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
1,9392,37029,ГУАП,27.03.02,Управление качеством,15.0,бюджет,очная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
2,9392,37030,ГУАП,27.03.01,Стандартизация и метрология,15.0,бюджет,очная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
3,9392,37031,ГУАП,27.03.01,Стандартизация и метрология,15.0,особая квота,очная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
4,9392,37032,ГУАП,12.03.05,Лазерная техника и лазерные технологии,15.0,особая квота,очная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
5,9392,37033,ГУАП,12.03.05,Лазерная техника и лазерные технологии,15.0,бюджет,очная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
6,9392,63525,ГУАП,12.03.01,Приборостроение,15.0,бюджет,очная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
7,9392,63526,ГУАП,12.03.01,Приборостроение,15.0,особая квота,очная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
8,9392,63527,ГУАП,12.03.01,Приборостроение,15.0,отдельная квота,очная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN
9,9392,63528,ГУАП,27.03.01,Стандартизация и метрология,15.0,бюджет,заочная,Бакалавриат,f,...,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN

In [9]:
adm

,organization,code,name,finsourse,eduform,edulevel,is_only_for_foreign,merged_education_level_id,is_budget,volume,enrolled,vacant
0,ГУАП,01.03.02,Прикладная математика и информатика,бюджет,очная,Бакалавриат,f,1,t,5.0,NaN,7.0
1,ГУАП,01.03.02,Прикладная математика и информатика,особая квота,очная,Бакалавриат,f,1,t,1.0,NaN,NaN
2,ГУАП,01.03.02,Прикладная математика и информатика,отдельная квота,очная,Бакалавриат,f,1,t,1.0,NaN,NaN
3,ГУАП,01.03.02,Прикладная математика и информатика,по договорам,очная,Бакалавриат,f,1,f,15.0,NaN,15.0
4,ГУАП,01.03.02,Прикладная математика и информатика,целевая квота,очная,Бакалавриат,f,1,t,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
455,ИФ ГУАП,40.02.02,Правоохранительная деятельность,по договорам,очная,СПО,f,3,f,35.0,NaN,35.0
456,ИФ ГУАП,40.03.01,Юриспруденция,по договорам,очная,Бакалавриат,f,1,f,20.0,NaN,20.0
457,ИФ ГУАП,40.03.01,Юриспруденция,по договорам,очная,Бакалавриат,t,1,f,10.0,NaN,10.0
458,ИФ ГУАП,40.03.01,Юриспруденция,по договорам,очно-заочная,Бакалавриат,f,1,f,15.0,NaN,15.0
459,ИФ ГУАП,43.02.16,Туризм и гостеприимство,по договорам,очная,СПО,f,3,f,15.0,NaN,15.0

1) что характерезуют данные в admission.csv  
2) за что отвечают 'eid' и 'aid' в applications.csv, верно ли предполагать, что комбинация eid + aid создают уникального абиткриента?
3) что такое original_weight в applications.csv  
4) почему размах priority в applications.csv равен 100, сомневаюсь, что абитуриент может выставить на специальность приоритет 100, какой максимальный может быть приоритет у специальности?  
5) что обозначает признак application_status_simple в applications.csv, по идее абитуриент может быть либо принят в ВУЗ либо нет, но этот признак имеет 2 уникальных значения: ['Принято', 'Проект']
6) ege_average_score показывает средний балл за вступительные или баллы ЕГЭ в applications.csv, верно ли утверждать что баллы за вступительный экзамен равносильны вступительным экзаменам в ГУАП
7) как интерпритировать [1, 2, 3, 4] данные в признаке merged_education_level_id в данных applications.csv, что обозначает 1-4 уровень образования?
8) что значит собачья дата dog_date в applications.csv, для чего она нужна?